@keyframes moveup {
    from {bottom: 0px;}
    to {bottom: 200px;}
}

.bee {
    position: absolute;
    width: 250px;
    height: 250px;
    animation-name: moveup;
    animation-duration: 10s;
}  

.animation-content {
    height: 700px;
}